* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


:root {
    --color-white: #fff;
    --en-font1: "futura-pt", sans-serif;
    --en-font2: "neue-haas-grotesk-display", sans-serif;
    --jp-font: "yu-gothic-pr6n", sans-serif;
    --font-size-S: clamp(0.9rem, calc(0.7rem + 0.625vw), 1.74rem);
    --font-size-M: clamp(1.35rem, calc(1.15rem + 0.625vw), 2.2rem);
    --font-size-L: clamp(2rem, calc(1.8rem + 0.625vw), 3.15rem);
    --font-size-XL: clamp(2.4rem, calc(2.2rem + 0.625vw), 3.95rem);
    --font-size-XXL: clamp(4.7rem, calc(4.5rem + 0.625vw), 6.25rem);
}


/*font-family: futura-pt, sans-serif;
font-weight: 400;
font-style: normal;

font-family: futura-pt, sans-serif;
font-weight: 500;
font-style: italic;

font-family: neue-haas-grotesk-display, sans-serif;
font-weight: 600;
font-style: italic;

font-family: yu-gothic-pr6n, sans-serif;
font-weight: 400;
font-style: normal;*/

img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

p,
h2,
h3,
a,
address {
    color: var(--color-white);
}

a,
address {
    text-decoration: none;
    font-style: normal;


}

li {
    list-style: none;
}

#g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
    top: 0;
    right: -120%;
    width: 20%;
    height: 100vh;
    /*ナビの高さ*/
    background: #2b2b2b80;
    /*動き*/
    transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive {
    right: 0;
}

/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 20%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/

#g-nav li {
    text-align: center;
}

#g-nav li a {
    padding: 10px;
    display: block;
    font-family: var(--en-font1);
    font-size: var(--font-size-M);
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 400;
    transition: all .6s ease;
}

#g-nav li a:hover,
#g-nav li a:active {
    filter: drop-shadow(0px 0px 0.2em #ffffff);
}

/*========= ボタンのためのCSS ===============*/
.openbtn {
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    top: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    transition: all .6s ease;
}

.openbtn:hover {
    filter: drop-shadow(0px 0px 0.2em #ffffff);
}

/*×に変化*/
.openbtn span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
    background-color: var(--color-white);
    width: 45%;
}

.openbtn span:nth-of-type(1) {
    top: 15px;
}

.openbtn span:nth-of-type(2) {
    top: 23px;
}

.openbtn span:nth-of-type(3) {
    top: 31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
    opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}

a.disabled {
    pointer-events: none;
    opacity: .6;
}

/*流星*/
.meteor_container {
    width: 100%;
    height: 150vh;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 0;
}

.meteor {
    position: absolute;
    width: 11vw;
    min-width: 120px;
    opacity: 0.6;
    animation: moveMeteor 40s linear forwards;
}

.big_meteor {
    position: absolute;
    width: 14vw;
    min-width: 160px;
    opacity: 0.6;
    animation: moveMeteor 50s linear forwards;
}

@keyframes moveMeteor {
    0% {
        transform: translate(0, 0)rotate(-12deg);
        -moz-transform: translate(0, 0)rotate(-12deg);
        -ms-transform: translate(0, 0)rotate(-12deg);
        -o-transform: translate(0, 0)rotate(-12deg);
    }

    100% {
        transform: translate(-140vw, 60vh);
        -moz-transform: translate(-140vw, 60vh);
        -ms-transform: translate(-140vw, 60vh);
        -o-transform: translate(-140vw, 60vh);
    }
}

.header_bg {
    width: 100%;
}


.mainvisual_bg {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -999;
}

.mainvisual_bg img {
    width: 100%;
    height: 100vh;
    object-fit: fill;
}

.section_container {
    position: relative;
    width: 58vw;
    max-width: 1200px;
    margin: 20vh auto;
    color: var(--color-white);
    z-index: 500;
}

header .heading_container {
    position: relative;
    margin: 5vh auto;
}

header .heading {
    color: var(--color-white);
    font-family: var(--en-font1);
    font-weight: 500;
    font-style: italic;
    font-size: var(--font-size-XXL);
    z-index: 500;
    display: flex;
    justify-content: center;
}

header .heading_img {
    position: absolute;
    width: 18.2em;
    top: 50%;
    left: 48.5%;
    transform: translate(-40%, -50%);
    -moz-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    -o-transform: translate(-40%, -50%);
    z-index: 100;
}

.heading_container {
    position: relative;
    width: 16em;
    margin-bottom: 3.5em;

}

.heading {
    position: relative;
    font-family: var(--en-font1);
    font-weight: 500;
    font-style: italic;
    font-size: var(--font-size-XL);
    z-index: 500;
    white-space: nowrap;
}

h3.heading_container {
    position: relative;
    margin-bottom: 0.5em;
}

h3 .heading_img {
    position: absolute;
    width: 7em;
    top: 50%;
    left: 18.5%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 100;
}

h3 .heading {
    position: relative;
    font-family: var(--jp-font);
    font-weight: 400;
    font-size: var(--font-size-M);
    z-index: 500;
    white-space: nowrap;
}


.heading_img {
    position: absolute;
    width: 18.2em;
    top: 50%;
    left: 48.5%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 100;
}

.section_container h3 {
    font-family: var(--jp-font);
    font-weight: 600;
    font-style: normal;
    font-size: var(--font-size-L);
}

.section_container address,
.section_container a,
.section_container p {
    font-family: var(--jp-font);
    font-weight: 400;
    letter-spacing: 0.3rem;
    font-style: normal;
    font-size: var(--font-size-M);
}

.section_container .comingsoon_text {
    font-family: var(--en-font2);
    font-weight: 400;
    font-style: italic;
    font-size: var(--font-size-XL);
    text-align: center;
    position: relative;
    z-index: 500;
}

hr {
    width: 84vw;
    margin: 5vh auto 0 auto;
    height: 0.2em;
    background-color: var(--color-white);
}

footer nav {
    width: 58vw;
    margin: 4vh auto;
    display: flex;
    position: relative;
    z-index: 500;
}

footer h3 {
    font-family: var(--jp-font);
    font-weight: 600;
    font-style: normal;
    font-size: var(--font-size-M);
    white-space: nowrap;
    margin-bottom: 1em;
}

footer ul {
    padding: 4vw;
}

.ul_flex {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 4em;
}

footer ul:nth-child(1) {
    border-right: 0.2em solid var(--color-white);
}

footer .icon img {
    height: 4em;
}

footer .icon img:hover,
footer .icon img:active {
    filter: drop-shadow(0px 0px 0.8em #ffffff);
}

.copyright {
    margin: 2em auto;
    font-family: var(--en-font2);
    font-weight: 400;
    font-style: normal;
    font-size: var(--font-size-S);
    text-align: center;
}

.trigger {
    opacity: 0;
    transition: opacity 2s ease-out, transform 2s ease-out;
}

/* このクラスが追加されるとフェードイン */
.trigger.action {
    opacity: 1;
}

@media only screen and (max-width: 960px) {
    .section_container {
        width: 68vw;
    }

    footer nav {
        width: 68vw;
        flex-direction: column;
    }

    footer ul:nth-child(1) {
        border-right: none;
    }
}

@media only screen and (max-width: 430px) {
    #g-nav {
        width: 100%;
    }

    #g-nav.panelactive #g-nav-list {
        width: 100%;
    }

    .meteor {
        animation: moveMeteor 40s linear forwards;
    }

    .big_meteor {
        opacity: 0.6;
        animation: moveMeteor 50s linear forwards;
    }

    @keyframes moveMeteor {
        0% {
            transform: translate(0, 0)rotate(-12deg);
            -moz-transform: translate(0, 0)rotate(-12deg);
            -ms-transform: translate(0, 0)rotate(-12deg);
            -o-transform: translate(0, 0)rotate(-12deg);
        }

        100% {
            transform: translate(-280vw, 60vh);
            -moz-transform: translate(-280vw, 60vh);
            -ms-transform: translate(-280vw, 60vh);
            -o-transform: translate(-280vw, 60vh);
        }
    }

    .section_container {
        width: 84vw;
        margin: 10vh auto;
    }

    .heading {
        transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
    }

    header .heading_img {
        width: 15em;
    }

    footer nav {
        width: 84vw;
    }

    main,
    footer {
        max-width: 100%;
        overflow-x: hidden;
    }
}