.info_text{
    display: block;
    width: 40vw;
    min-width: 700px;
    margin: 0 auto;
    
}
@media only screen and (max-width: 430px) {
    .info_text{
        min-width: 0;
        width: 116vw;
        margin-left: 2vw;
    }
}