.mainvisual_container {
    position: relative;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}

.mainvisual_logo {
    position: absolute;
    width: 60vw;
    top: 26%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    z-index: 50;
    filter: drop-shadow(0 0 10px rgba(22, 53, 145, .8));
}



.mainvisual_planet {
    display: block;
    position: absolute;
    width: 30vw;
    top: 62%;
    left: 50%;
    z-index: 100;
    opacity: 0;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.mainvisual_stars {
    position: absolute;
    width: 100%;
    height: auto;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    overflow: hidden;
    opacity: 0;
    z-index: 10;
}

.mainvisual_stars img {
    width: 140vw;
    position: relative;
    left: -20vw;
}

.information {
    position: absolute;
    top: 90vh;
    left: 50%;
    width: 34vw;
    z-index: 500;
    margin-bottom: 16vh;
    opacity: 0;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.mainvisual_logo.action {
    animation: firstLogoAppear 0.8s cubic-bezier(0.33, 1, 0.68, 1) 1.8s forwards;
}

@keyframes firstLogoAppear {
    0% {
        opacity: 0;
        transform: translate(-20%, -60%);
        -moz-transform: translate(-20%, -60%);
        -ms-transform: translate(-20%, -60%);
        -o-transform: translate(-20%, -60%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}

.mainvisual_planet.action {
    animation: firstFadeUp 2s cubic-bezier(0.33, 1, 0.68, 1) 1.2s forwards;
}

.information.action {
    animation: firstFadeUp 1.8s cubic-bezier(0.33, 1, 0.68, 1) 1.4s forwards;
}

@keyframes firstFadeUp {
    0% {
        opacity: 0;
        transform: translate(-50%, -20%);
        -moz-transform: translate(-50%, -20%);
        -ms-transform: translate(-50%, -20%);
        -o-transform: translate(-50%, -20%);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
}

.mainvisual_stars.action {
    animation: firstFadeIn 5s cubic-bezier(0.5, 1, 0.89, 1) forwards;
}

@keyframes firstFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: .65;
    }
}

.concept {
    position: relative;
    width: 100%;
    margin: 130vh auto 30vh;
    text-align: center;
    color: var(--color-white);
    font-family: var(--jp-font);
    font-weight: 400;
    letter-spacing: 0.88em;
    font-style: normal;
    z-index: 500;
}

.concept_tittle {
    font-size: var(--font-size-L);
    margin-bottom: 1.6rem;
}

.concept p {
    font-size: var(--font-size-M);
}

.concept_tittle::before {
    content: "「";
    display: inline-block;
    margin-right: 3rem;
}

.concept_tittle::after {
    content: "」";
    display: inline-block;
    margin-left: 3rem;
}

.map {
    width: 56vw;
    margin: 0 auto;
}

.contents_flex {
    margin: 0 auto;
    display: flex;
    gap: calc((58vw - 48vw) / 4);
    flex-wrap: wrap;
    justify-content: center;
}

.contents_btn {
    display: block;
    position: relative;
    width: 12vw;
    max-width: 230px;
    min-width: 124px;
    transition: all .6s ease;
}

.contents_btn:hover {
    transform: scale(110%);
}

.contents_btn:hover .btn_name,
.contents_btn:hover .btn_name_secondary,
.contents_btn:hover img,
.contents_btn:active .btn_name,
.contents_btn:active .btn_name_secondary,
.contents_btn:active img {
    filter: drop-shadow(0px 0px 0.2em #ffffff);
}

.btn_name {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--en-font1);
    font-weight: 400;
    font-style: italic;
    font-size: var(--font-size-L);
    text-align: center;
}

.btn_name_secondary {
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--font-size-S);
    white-space: nowrap;
    text-align: center;
}

.disabled_btn {
    pointer-events: none;
    opacity: .6;
}


.charcter_text {
    display: inline-block;
    height: fit-content;
    margin: auto 0;
    opacity: 0;
}

.cassope_container {
    display: flex;
    flex-direction: row;
    column-gap: 3em;
}

.cassope_img {
    display: block;
    width: 26vw;
    min-width: 268px;
    opacity: 0;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
}

.dipper_container {
    display: flex;
    flex-direction: row-reverse;
    column-gap: 3em;
}

.dipper_img {
    display: block;
    width: 26vw;
    min-width: 268px;
    opacity: 0;
    transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
}

.character_trigger1.action {
    animation: cassopeAnime 0.85s cubic-bezier(0.33, 1, 0.68, 1) 0.5s forwards;
}

.bus {
    width: 48%;
}

.bus_container {
    margin-top: 1.5em;
    display: flex;
    gap: 4%;
}

@keyframes cassopeAnime {
    0% {
        opacity: 0;
        transform: translate(-30%, -20%);
        -moz-transform: translate(-30%, -20%);
        -ms-transform: translate(-30%, -20%);
        -o-transform: translate(-30%, -20%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
}

.character_trigger2.action {
    animation: dipperAnime 0.9s cubic-bezier(0.33, 1, 0.68, 1) 0.5s forwards;
}

@keyframes dipperAnime {
    0% {
        opacity: 0;
        transform: translate(20%, 10%);
        -moz-transform: translate(20%, 10%);
        -ms-transform: translate(20%, 10%);
        -o-transform: translate(20%, 10%);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
    }
}


@media only screen and (max-width: 1024px) {
    main {
        width: 90vw;
    }

    .mainvisual_logo {
        width: 86vw;
        top: 15%;
    }

    .mainvisual_planet {
        width: 45vw;
    }

    .mainvisual_stars img {
        width: 180vw;
        left: -40vw;
    }

    .information {
        width: 68vw;
    }

    .concept {
        margin: 110vh auto 16vh;
        letter-spacing: 0.05em;
    }
}

@media only screen and (max-width: 430px) {
    .mainvisual_logo {
        width: 98%;
    }

    .mainvisual_planet {
        width: 68vw;
        top: 50%;
    }

    .mainvisual_stars {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -49.8%);
        -moz-transform: translate(-50%, -49.8%);
        -ms-transform: translate(-50%, -49.8%);
        -o-transform: translate(-50%, -49.8%);
    }

    .mainvisual_stars img {
        width: 280vw;
        left: -90vw;
    }

    .information {
        width: 95vw;
        top: 84vh;
    }

    .contents_btn {
        width: 36.5vw;
    }


    .cassope_container {
        flex-direction: column;
        overflow: hidden;
    }

    .cassope_img {
        margin: 0 auto;
    }

    .dipper_container {
        flex-direction: column;
        overflow: hidden;
    }

    .dipper_img {
        margin: 0 auto;
    }

    .bus {
        width: 100%;
    }

    .bus_container {
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }

}