@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none
}

html {
    scroll-padding-top: 400px;
    scroll-behavior: smooth;
    background: #F6F3F2;
}

body {
    overflow-x: hidden;
}

img {
    display: block;
    width: 100%;
}

:root {
    --en-font: 'urw-din', sans-serif;
    --jp-font: 'inter', 'Zen Kaku Gothic New', sans-serif;
    --work-heading-font: 'urw-din', 'Zen Kaku Gothic New', sans-serif;

    /*118~60px*/
    --font-size-Heading-XL: clamp(4rem, calc(2.3125rem + 6.75vw), 7.375rem);
    /*60~50px*/
    --font-size-Heading-L: clamp(3.125rem, calc(2.1875rem + 3.75vw), 5rem);
    /*40~30px*/
    --font-size-Heading-M: clamp(1.875rem, calc(1.5625rem + 1.25vw), 2.5rem);
    /*28~22px*/
    --font-size-Heading-R: clamp(1.125rem, calc(0.8125rem + 1.25vw), 1.75rem);
    /*18~12px*/
    --font-size-Heading-S: clamp(12px, calc(9px + 0.75vw), 18px);
    /*22~14px*/
    --font-size-M: clamp(0.875rem, calc(0.625rem + 1vw), 1.375rem);
    /*16~12px*/
    --font-size-R: clamp(0.75rem, calc(0.625rem + 0.5vw), 1rem);
    /*14~10px*/
    --font-size-S: clamp(10px, calc(8px + 0.5vw), 14px);
    /*12~18px*/
    --font-size-XS: clamp(0.5rem, calc(0.375rem + 0.5vw), 0.75rem);

    --header-size-vertical: clamp(20px, calc(12px + 2.5vw), 46px);
    --header-size--horizontal: clamp(32px, calc(20px + 5vw), 58px);
    --section-margin-bottom: clamp(10svh, calc(-5svh + 3.75vw), 40svh);

    --color-Black: #494541;
    --color-white: #fff;
    --color-Gray: #787678;
    --color-Bg-Base: #F6F3F2;
    --color-Bg-Surface: #fff;
    --color-Text: #494541;
    --color-border: #dbdfe7;
    --My-Blue: #009984;
    --My-Orange: #e94b01;

}


h2,
h3,
h4,
h5,
p,
a,
span,
li,
ol,
dt,
dd {
    font-family: var(--jp-font);
    font-style: normal;
    font-optical-sizing: auto;
    font-feature-settings: "palt" on;
    text-autospace: normal;
    overflow-wrap: anywhere;
    word-break: normal;
    line-break: strict;
}

h2 {
    font-size: var(--font-size-Heading-R);
}

p {
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.3em;
}

a {
    color: var(--color-Black);
    text-decoration: none;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
span::selection,
li::selection,
ol::selection,
dt::selection,
dd::selection,
a::selection,
img::selection {
    background-color: var(--My-Orange);
    color: #fff;
}

.c-mouse {
    display: block;
    width: 44px;
    height: 44px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    pointer-events: none;
}

.c-mouse:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url('../images/common/mouse-star.svg');
    opacity: .7;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    aspect-ratio: 1 / 1;
}


#g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: -999;
    /*ナビのスタート位置と形状*/
    top: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    transition: all .6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.is-active {
    z-index: 999;
    opacity: 1;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

/*ナビゲーションの縦スクロール*/
#g-nav.is-active #g-nav-list {
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    /*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*リストのレイアウト設定*/


#g-nav li {
    margin-bottom: 4em;
}

#g-nav li a {
    text-align: left;
    background: linear-gradient(90deg, var(--My-Blue) 0%, var(--My-Orange) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 10px;
    display: flex;
    align-items: center;
    font-size: var(--font-size-Heading-R);
    font-weight: 500;
    line-height: 1.75em;
    letter-spacing: 0.5em;
    transition: all .4s;
    margin-bottom: 2.5em;
}

#g-nav li a:hover,
#g-nav li a:active {
    transform: translateX(0.4em);
    filter: blur(0.1em);
}

#g-nav li a:hover #g-nav li:not(#g-nav li a:hover) {
    filter: blur(10px);
}

#g-nav li a.disabled {
    pointer-events: none;
    opacity: .4;
}

/*========= ボタンのためのCSS ===============*/
.c-hamburger {
    position: fixed;
    z-index: 9999;
    /*ボタンを最前面に*/
    top: 50px;
    right: 50px;
    cursor: pointer;
    width: var(--header-size--horizontal);
    height: var(--header-size-vertical);
    transition: all .4s
}

.c-hamburger:hover {
    transform: scale(110%);
}

/*×に変化*/
.c-hamburger span {
    display: inline-block;
    transition: all .4s;
    position: absolute;
    width: var(--header-size--horizontal);
    font-size: var(--font-size-R);
    height: 0.4em;
}

.c-hamburger span:nth-of-type(1) {
    top: 0;
}

.c-hamburger span:nth-of-type(2) {
    top: 50%;
}

.c-hamburger span:nth-of-type(3) {
    top: 100%;
}

.c-hamburger.is-active span:nth-of-type(1) {
    top: 50%;
    transform: rotate(-45deg);
    width: var(--header-size--horizontal);
}

.c-hamburger.is-active span:nth-of-type(2) {
    opacity: 0;
}

.c-hamburger.is-active span:nth-of-type(3) {
    top: 50%;
    transform: rotate(45deg);
    width: var(--header-size--horizontal);
}

.heading {
    font-family: var(--en-font);
    font-size: var(--font-size-Heading-M);
    font-weight: 400;
    letter-spacing: 0.24em;
    white-space: nowrap;
    text-align: center;
    background: linear-gradient(90deg, var(--My-Blue) 0%, var(--My-Orange) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    margin: 0 auto 1em;
}

.about__flex-container {
    display: flex;
    max-width: 840px;
    width: 43vw;
    margin: 0 auto;
    padding: 50x;
}

.portrait img {
    width: 240px;
}

.university {
    font-size: var(--font-size-S);
    display: block;
    margin-bottom: 0.5em;
}

.affiliation {
    font-size: var(--font-size-S);
    margin-bottom: 0.5em;
}

.name {
    font-size: var(--font-size-Heading-M);
    font-weight: 500;
    display: block;
}

.name::after {
    content: "";
    display: block;
    width: 6em;
    height: 0.5em;
    background-image: url(../images/common/highlight-line.svg);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    background-position: center;
}

.about__info-container__text {
    font-size: var(--font-size-R);
    margin-bottom: 1em;
}

.tagline {
    font-size: var(--font-size-M);
    background: linear-gradient(90deg, var(--My-Blue) 0%, var(--My-Orange) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer {
    margin-top: 400px;
}

.l-footer__logo {
    width: 400px;
    margin: 0 auto;
}

.copyright {
    padding: 6em 0 2em;
    font-family: var(--en-font);
    font-size: var(--font-size-S);
    letter-spacing: 0.24em;
    text-align: center;
    white-space: nowrap;
}


.read-more__button {
    display: flex;
    font-size: var(--font-size-M);
    width: 16em;
    min-width: 180px;
    margin: 100px auto 0;
    height: 74px;
    padding: 0px 52px 0px 56px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 9999px;
    background: linear-gradient(90deg, var(--My-Blue) 0.13%, var(--My-Orange) 99.87%);
    transition: all .4s ease-out;
}

.read-more__button:hover,
.read-more__button:active {
    transform: scale(1.04);
}

.read-more__button__text {
    color: var(--color-white);
    font-weight: 500;
    white-space: nowrap;
}

.read-more__button__chevron {
    width: 0.45em;
    height: 0.5em;
    background-image: url(../images/common/chevron.svg);
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    background-position: center;
    transition: all .3s ease-in-out;
}

.read-more__button:hover .read-more__button__chevron,
.read-more__button:active .read-more__button__chevron {
    transform: translateX(0.6em);
}

.sp-img {
    display: none;
}

hr {
    background-color: var(--color-border);
    border: none;
    width: 100%;
    height: 1px;
    margin: 1em 0;
}

.u-image-pc {
    display: block;
}

.u-image-sp {
    display: none;
}

@media screen and (max-width:1279px) {
    .c-mouse {
        display: none;
    }

    .read-more__button {
        width: 14em;
        height: 44px;
        padding: 0px 24px 0px 26px;
        margin: 20px auto 0;
    }

    .pc-img {
        display: none;
    }

    .sp-img {
        display: block;
    }

    footer {
        margin-top: 160px;
    }

    .u-image-pc {
        display: none;
    }

    .u-image-sp {
        display: block;
    }
}

@media screen and (max-width:767px) {

    .about-area {
        height: 50vh;
    }

    footer {
        margin-top: 60px;
    }

    .l-footer__logo {
        width: 200px;
    }
}