@charset "UTF-8";

.c-horizontal-scroll {
    position: relative;
    width: 100%;
    overflow: visible !important;
}

.c-horizontal-scroll__sticky {
    position: relative;
    width: 100%;
    height: 100vh;
    height: 100svh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.js-scroll-section {
    display: flex !important;
    width: max-content !important;
    height: 100%;
    will-change: transform;
}


.c-horizontal-scroll__item {
    width: 100vw;
    height: 100%;
    flex-shrink: 0 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-horizontal-scroll__sticky .c-section-heading {
    padding: 40px 0 0 5%;
    margin-bottom: 0;
}

.c-horizontal-scroll__body .c-horizontal-scroll__sub-heading {
    font-size: var(--font-size-Heading-R);
    color: var(--color-work-theme);
    margin-bottom: 1.4em;
    text-align: left;
    line-height: 1;
    letter-spacing: 0.24em;
    max-width: 800px;
    white-space: nowrap;
}

.c-horizontal-scroll__item--short {
    width: auto;
}

.c-horizontal-scroll__visual-inner {
    display: flex;
    gap: 2svw;
    justify-content: space-evenly;
}

.c-horizontal-scroll__visual-inner.u-horizontal-scroll__center {
    display: flex;
    gap: 0;
    justify-content: center;
}

.c-horizontal-scroll__visual {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.c-horizontal-scroll__visual img {
    height: 52svh;
    width: auto;
    object-fit: contain;
}

.c-horizontal-scroll__visual.u-narrow img {
    width: 46svw;
    height: auto;

}

.c-horizontal-scroll__spacer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    min-width: 100px;
    padding: 0 100px;
    flex-shrink: 0;
}

.c-horizontal-scroll__spacer .c-chevron {
    width: 0;
    height: 0;
    border-style: solid;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 26px solid var(--color-work-theme);
    border-right: 0;
    margin: 4em 0;
}