@charset "UTF-8";

.openbtn span {
    background-color: var(--My-Orange);
}

#top-hero {
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    filter: blur(0px);
    transition: filter 0.05s linear;
    overflow: hidden;
}

.top-hero__background {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/top/top-background.webp');
    background-size: 140vw;
    background-position: center;
    background-repeat: no-repeat;
}

.top-hero__logo {
    position: absolute;
    width: 40vw;
    bottom: 8svh;
    right: 4svw;
    opacity: 0;
    transform: translateY(80%);
    animation: fadeUp 1.6s cubic-bezier(0.33, 1, 0.68, 1) 3.4s forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateY(80%);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.star01 {
    width: 26svw;
    position: absolute;
    top: -11svh;
    left: -6svw;
    opacity: 0;
    animation: fadeInBig 2s cubic-bezier(0.33, 1, 0.68, 1) 1s forwards, LargeBlur 1s ease-out 6s forwards;
}

.star02 {
    width: 8svw;
    position: absolute;
    top: -3svh;
    left: 16svw;
    opacity: 0;
    animation: fadeInLittle 2s cubic-bezier(0.33, 1, 0.68, 1) 1s forwards;
}

.star03 {
    width: 8svw;
    position: absolute;
    top: 29svh;
    left: -2svw;
    opacity: 0;
    animation: fadeInLittle 2s cubic-bezier(0.33, 1, 0.68, 1) 1.8s forwards;
}

.star04 {
    width: 14svw;
    position: absolute;
    top: 28svh;
    left: 8svw;
    opacity: 0;
    animation: fadeIn 2s cubic-bezier(0.33, 1, 0.68, 1) 2.6s forwards, Blur 1s ease 6s forwards;
}

.star05 {
    width: 22svw;
    position: absolute;
    top: 4svh;
    right: 6svw;
    opacity: 0;
    animation: fadeInBig 2s cubic-bezier(0.33, 1, 0.68, 1) 1s forwards, LargeBlur 1s ease-out 6s forwards;
}

.star06 {
    width: 11svw;
    position: absolute;
    top: -5svh;
    right: 21svw;
    opacity: 0;
    animation: fadeInLittle 2s cubic-bezier(0.33, 1, 0.68, 1) 1.8s forwards, Blur 1s ease-out 6s forwards;
}

.star07 {
    width: 9svw;
    position: absolute;
    top: 26svh;
    right: -2svw;
    opacity: 0;
    animation: fadeInLittle 2s cubic-bezier(0.33, 1, 0.68, 1) 2.6s forwards;
}

.star08 {
    width: 18svw;
    position: absolute;
    bottom: 2svh;
    left: 1svw;
    opacity: 0;
    animation: fadeIn 2s cubic-bezier(0.33, 1, 0.68, 1) 1.8s forwards, Blur 1s ease-out 6s forwards;
}

.star09 {
    width: 6svw;
    position: absolute;
    bottom: 25svh;
    left: 1svw;
    opacity: 0;
    animation: fadeInLittle 2s cubic-bezier(0.33, 1, 0.68, 1) 1s forwards, Blur 1s ease-out 6s forwards;
}

.star10 {
    width: 8svw;
    position: absolute;
    bottom: 0;
    left: 18svw;
    opacity: 0;
    animation: fadeInLittle 2s cubic-bezier(0.33, 1, 0.68, 1) 2.6s forwards;
}

@keyframes fadeInBig {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInLittle {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes LargeBlur {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(10px);
    }
}

@keyframes Blur {
    0% {
        filter: blur(0px);
    }

    100% {
        filter: blur(2px);
    }
}

.wrapper {
    margin-top: 100svh;
    padding: 10svh 0;
}

h3 {
    font-size: var(--font-size-Heading-M);
}

.about {
    position: relative;
    margin-top: 100px;
    margin-bottom: 400px;
}

.decoration__section-tittle {
    position: absolute;
    font-family: var(--en-font);
    font-size: var(--font-size-Heading-L);
    letter-spacing: 0.24em;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    rotate: 270deg;
    background: linear-gradient(90deg, var(--My-Blue) 0%, var(--My-Orange) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.decoration__section-tittle:nth-of-type(1) {
    position: absolute;
    top: 120px;
    left: -6svw;
    rotate: 270deg;
}

.decoration__section-tittle:nth-of-type(2) {
    position: absolute;
    top: 160px;
    right: -35svw;
    rotate: 90deg;
}

.about__flex-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 840px;
    width: 43vw;
    margin: 0 auto;
}

.portrait {
    position: absolute;
    top: -200px;
    left: -60px;
    width: 240px;
}

.university {
    font-size: var(--font-size-S);
    display: block;
    margin-bottom: 0.5em;
}

.affiliation {
    font-size: var(--font-size-S);
    margin-right: 1em;
    margin-bottom: 0.5em;
}

.name {
    font-size: var(--font-size-Heading-R);
    letter-spacing: 0.28em;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.75em;
}

.about__info-container {
    position: relative;
    padding-left: 240px;
}

.about__info-container__text {
    font-size: var(--font-size-R);
    margin-bottom: 1em;
}

.highlight-line {
    display: block;
    width: 6em;
}

.tagline {
    font-size: var(--font-size-M);
    font-weight: 500;
    background: linear-gradient(90deg, var(--My-Blue) 0%, var(--My-Orange) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.policy-container__text {
    font-size: var(--font-size-R);
    width: 27em;
    margin: 0 auto;
    margin-bottom: 1em;
}

#works {
    width: 80vw;
    margin: 0 auto;
}

.works-container {
    display: flex;
    justify-content: space-between;
}

.works-container__content {
    width: calc((80vw / 4) - 34px);
}

.works-container__content .works-container__content__project-image {
    overflow: hidden;
}

.works-container__content .works-container__content__project-image img {
    width: 100%;
    object-fit: cover;
    transition: transform .6s ease-out;
}

.works-container__content:hover .works-container__content__project-image img,
.works-container__content .works-container__content__project-image img:active {
    transform: scale(1.08);
}

.works-container__content span {
    font-size: var(--font-size-S);
    letter-spacing: 0.15em;
    display: block;
    margin-top: 1.45em;
}

footer {
    position: relative;
    margin-top: 0;
    padding-top: 100px;
    background: var(--color-white);

}

@media screen and (max-width:1279px) {
    .decoration__section-tittle:nth-of-type(1) {
        left: -28svw;
    }

    .decoration__section-tittle:nth-of-type(2) {
        right: -28svw;
    }

    .about__info-container {
        padding: 0;
        margin-top: 100px;
    }

    .about {
        margin-bottom: 200px;
    }

    .top-hero__background {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../images/top/top-background-tablet.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .top-hero__logo {
        position: absolute;
        width: 76vw;
        bottom: 15svh;
        right: 4svw;

    }


    .star01 {
        width: 36svw;
        top: -7svh;
        left: -7svw;
    }

    .star02 {
        width: 14svw;
        top: -4svh;
        left: 20svw;
    }

    .star03 {
        width: 12svw;
        top: 13svh;
        left: -4svw;
    }

    .star04 {
        width: 20svw;
        top: 12svh;
        left: 12svw;
    }

    .star05 {
        width: 32svw;
        top: 2svh;
        right: 9svw;
    }

    .star06 {
        width: 12svw;
        top: 2svh;
        right: 32svw;
    }

    .star07 {
        width: 16svw;
        top: 18svh;
        right: -4svw;
    }

    .star08 {
        width: 24svw;
        bottom: 2svh;
        left: 2svw;
    }

    .star09 {
        width: 12svw;
        bottom: 17svh;
        left: 1svw;
    }

    .star10 {
        width: 10svw;
        bottom: -1svh;
        left: 26svw;
    }

    .works-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .works-container__content {
        width: 100%;
        margin-bottom: 10svh;
    }
}

@media screen and (max-width:767px) {

    @keyframes LargeBlur {
        0% {
            filter: blur(0px);
        }

        100% {
            filter: blur(5px);
        }
    }

    @keyframes Blur {
        0% {
            filter: blur(0px);
        }

        100% {
            filter: blur(1px);
        }
    }

    .decoration__section-tittle:nth-of-type(1) {
        display: none;
    }

    .decoration__section-tittle:nth-of-type(2) {
        display: block;
        right: auto;
        top: 2em;
        rotate: 0deg;
        margin: 11px;
        position: relative;
    }


    .about__flex-container {
        width: 86vw;
    }

    .portrait {
        top: -180px;
        left: -9px;
        width: 150px;
    }

}