@charset "UTF-8";

/*Problem*/
.p-idas-problem__text {
    flex-basis: 45%;
}

.p-idas-problem__note {
    flex-basis: 45%;
}

.p-idea-process__list {
    display: grid;
    grid-template-columns: repeat(5, minmax(6em, 1fr));
    gap: 1svw;
}

.p-idea-process__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-Bg-Surface);
    border-radius: 12px;
    padding: .5em;

    aspect-ratio: 1 / 1;

    font-size: var(--font-size-XS);
    color: var(--color-Gray);
    letter-spacing: .15;
    line-height: 1.5;
    filter: drop-shadow(0 0px 2px rgba(2, 4, 10, .1));
}

.p-idea-process__number {
    display: block;
    position: absolute;
    z-index: -10;
    top: .1em;
    left: .4rem;
    font-size: var(--font-size-Heading-S);
    font-weight: 600;
    color: #FFDF80;
}

/*Value*/
.p-value__text {
    font-size: var(--font-size-R);
    margin-bottom: 2em;
}

.p-value__heading {
    font-size: var(--font-size-Heading-R);
    line-height: 1.5;
    letter-spacing: .24em;
    color: var(--color-work-theme);
    text-align: center;
    margin-bottom: 1em;
    white-space: nowrap;
}

.p-value__description {
    font-size: var(--font-size-R);
    line-height: 2;
    letter-spacing: .15em;
    color: var(--color-Text);
    text-align: left;
    width: 32em;
    margin: 0 auto;
}

.c-horizontal-scroll__page-neme {
    text-align: center;
}

/*Persona*/
.p-persona {
    padding: 3em 4em;
    font-size: var(--font-size-R);
    background-color: var(--color-Bg-Surface);
    border-radius: 12px;
    filter: drop-shadow(0 0px 3px rgba(2, 4, 10, .1));
}

.p-persona-inner {
    display: flex;
    gap: 2svw;
}

.p-persona-content {
    flex-basis: 70%;
}

.p-radar-chart {
    flex-basis: 30%;
}

.p-persona-header {
    display: flex;
    align-items: center;
    font-size: var(--font-size-S);
    border-bottom: 1px solid var(--color-work-theme);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.p-persona-header__img {
    width: 6em;
    margin-right: 2em;
}

.p-persona-header__text {
    font-size: var(--font-size-S);
    line-height: 2em;
}

.p-persona-header__state {
    color: var(--color-work-theme);
    font-size: var(--font-size-Heading-R);
    line-height: 1.8;
    font-weight: 600;
}

.p-persona-header__name {
    display: block;
    color: var(--color-Text);
    font-size: var(--font-size-M);
    line-height: 1.8;
    letter-spacing: .25em;
    font-weight: 600;
}

.p-persona-header__years {
    color: var(--color-Gray);
    font-size: var(--font-size-R);
    margin-left: .2em;
}

.p-persona-content__descrption {
    font-size: var(--font-size-R);
    font-weight: 500;
    line-height: 1.75em;
    letter-spacing: 0.15em;
    margin-bottom: 1em;
}

@media (max-width: 1279px) {
    .p-idea-process__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(6em, 1fr));
        gap: 1svw;
    }

    .c-transition-diagram .c-point {
        width: 49%;
        margin: 0;
    }

    .p-idas-ui__content {
        width: 45%;
    }
}